.btn, .btn2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 50px;
    background: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size: 600%;
    animation: anime 16s linear infinite;
    height: 50px;
    padding: 0 50px;
}

.btn2 {
    position: absolute;
    margin-top: -50px;
    z-index: -1;
    filter: blur(30px);
    opacity: 0.8;
    left: 0;
}

@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 768px) {
    .btn, .btn2 {
        padding: 0 20px;
    }
}
