.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-select {
  appearance: none; /* Remove default dropdown arrow */
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns="http://www.w3.org/2000/svg"%20viewBox="0%200%2024%2024"%20width="15"%20height="15"><path%20fill="none"%20stroke="black"%20stroke-width="2"%20d="M2%206%2012%2017%2022%206"/></svg>'); /* Custom arrow SVG */
  background-repeat: no-repeat;
  background-position: calc(100% - 1.5rem) center; /* Moves the arrow to the left */
  padding-right: 3rem; /* Adjusts padding to match the new arrow position */
}
